

.active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

.active-pink input[type=text] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

.active-purple-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

.active-purple input[type=text] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan .fa,
.active-cyan-2 .fa {
    color: #4dd0e1;
}

.active-purple .fa,
.active-purple-2 .fa {
    color: #ce93d8;
}

.active-pink .fa,
.active-pink-2 .fa {
    color: #f48fb1;
}

#tablaproductos td {
    text-align: center;
    vertical-align: middle;
}

#tablaproductossin td {
    text-align: center;
    vertical-align: middle;
}

#footer > div:first-child {
    float: left;
    text-align: left;
    width: 33.3%;
}

#footer > div:nth-child(2) {
    float: left;
    text-align: center;
    width: 33.4%;
}

#footer > div:last-child {
    float: right;
    text-align: right;
    width: 33.3%;
}

#footer {
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: lightgrey;
}

/* This hides all pages */
.page {
    display: none;
}

/* This displays the first page */
.default {
    display: block;
}

/* This displays the page corresponding to the one you clicked on */
:target {
    display: block;
}

/* This hides the default page when another page is clicked */
:target ~ .default {
    display: none;
}

.center {
    display: block;
    margin: 10px;
    padding: 10px;
}

#portada {
    align-items: center;
}

#subportada {
    padding: 10px;
    margin: 10px;
    columns: 2;
}

#news {
    padding-left: 40px;
    margin-left: 60px;
}

imagebox {
  background: black;
  padding: 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.imagebox img {
  opacity: 1;
  transition: 0.5s opacity;
}

.imagebox .imagebox-desc {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0px;
  color: white;
  font-size: 1.2em;
  left: 0px;
  padding: 10px 15px;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
}

.imagebox:hover img {
  opacity: 0.7;
}

.imagebox:hover .imagebox-desc {
  padding-bottom: 10%;
}

#destacado {
    margin-left: 200px;
}

header {
    position:relative;
}

#productos {
    margin: 15px;
}