body {
    font-family: 'Montserrat', sans-serif;

    margin: 0;

    line-height: 1.5em;
}

h1 {
    font-size: 3em;
    line-height: 1.2em;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}

table {
    box-sizing: border-box;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: grey 0.2em 0.2em 0.4em;
    width: 100%;
}

th {
    background: darkblue;
    color: white;
    font-weight: bold;
}

thead,
tfoot,
thead th,
tfoot th {
    background: black;
}


td,
th {
    padding: 0.5em;
    border-bottom: 1px solid black;
    text-align: left;
}

tr:nth-child(odd) {
    background: lightgray;
}

tbody th {
    width: 1em;
}

form {
    line-height: 2.5em;
}

label {
    box-sizing: border-box;
    float: left;
    width: 6em;
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
}

input {
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid black;
    width: 66%;
    padding: 5px;
}

button {
    background: darkblue;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 5px;
    border: 0;
    text-transform: uppercase;
    margin-left: 7em;
}

button:hover {
    transition-duration: 1s;
    background: blue;
}
